ul, li, label {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.list-group--emptyborder li {
    border: 0;
}

.dialogs {
    overflow: hidden;
    position: relative;
    height: calc(100vh - 59px);
    background-color: #fff;
}

.dialogs .alert {
    text-align: center;
}

.dialogs__found {
    top: 38px;
    z-index: 1;
    width: 100%;
    height: 100%;
    transition: .5s;
    position: absolute;
    background-color: #fff;
    height: calc(100vh - 141px);
    transform: translateX(-100%);
}

.dialogs__found_active {
    transform: translateX(0);
}

.dialogs__button {
    border: 0;
    outline: 0;
    width: 100%;
    padding: 10px;
    display: block;
    text-align: left;
    font-weight: bold;
    background-color: rgba(135, 152, 169, .2);
}

.dialogs__button:hover {
    background-color: rgba(135, 152, 169, .4);
}

.dialogs__button:focus {
    border: 0;
    outline: none;
    box-shadow: none;
}

.dialogs__button svg {
    top: -1px;
    width: 15px;
    margin-right: 10px;
    position: relative;
}

.dialogs__search input {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.found__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.found__content textarea {
    width: 100%;
    resize: none;
    height: 100px;
    padding: 10px;
    outline: none;
    border-left: 0;
    border-right: 0;
    border-color: rgba(0, 0, 0, .3);
}

.found__list li {
    padding: 10px;
}

.found__list li:hover {
    background-color: rgba(135, 152, 169, .2);
}

.found__list li label {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dialogs__item {
    cursor: pointer;
    transition: .25s;
    padding-top: 10px;
    padding-left: 45px;
    position: relative;
    padding-bottom: 10px;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.dialogs__item_active,
.dialogs__item_active:hover {
    background-color: rgba(135, 152, 169, .4);
}

.dialogs__item .avatar-block {
    top: 15px;
    left: 5px;
    position: absolute;
}

.dialogs__item:hover {
    background-color: rgba(135, 152, 169, .2);
}

.item__content {
    display: flex;
    flex-direction: column;
}

.item__message_my-unread {
    margin-right: 5px;
    background-color: #b1bbc5;
}

.item__message_my-read {
    margin-right: 5px;
    background-color: #ededed;
}

.item__new-messages {
    top: 20px;
    right: 5px;
    width: 30px;
    height: 30px;
    color: orange;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    border: 1px solid orange;
}

.item__new-messages span {
    top: 1px;
    position: relative;
}

.messages-plug {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
}