.messages {
    height: 100vh;
    overflow: auto;
    margin-bottom: 2px;
    background-color: #fff;
    padding: 10px 35px 10px 60px;
    max-height: calc(100vh - 195px);
}
.messages .message {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}
.messages .message .avatar-block{  
    top: 0;
    left: -40px;
    position: absolute;
}
.messages .message__author {
    position: relative;
}
.messages .message__author span {
    color: blue;
}

.messages .message_my .message__author span {
    color: black;
    background: bisque;
}

.messages-plug {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
}

@media screen and (max-width: 767.98px) {
    .messages .message_my .message__author span,
    .message__text {
        font-size: 12px;
    }
    .message_date {
        font-size: 10px;
    }
    .messages .message .avatar-block {
        top: 5px;
    }
}