.dialogs {
    overflow: hidden;
    position: relative;
    height: calc(100vh - 59px);
    background-color: #fff;
}

.dialogs .alert {
    text-align: center;
}

.dialogs__button {
    border: 0;
    outline: 0;
    width: 100%;
    padding: 10px;
    display: block;
    transition: .5s;
    text-align: left;
    font-weight: bold;
    background-color: rgba(135, 152, 169, .2);
}

.dialogs__button:hover {
    background-color: rgba(135, 152, 169, .4);
}

.dialogs__button:focus {
    border: 0;
    outline: none;
    box-shadow: none;
}

.dialogs__button[disabled] {
    opacity: .3;
}

.dialogs__button svg {
    top: -1px;
    width: 15px;
    margin-right: 10px;
    position: relative;
}

.dialogs__button_search {
    color: #fff;
    text-align: center;
    background-color: rgb(96, 123, 255);
}

.dialogs__button_search:hover {
    background-color: rgb(43, 77, 245);
}