.message-input {
    bottom: 0;
    position: sticky;
    text-align: right;
    background-color: #fff;
    padding: 15px 30px 15px 80px;
}

.message-input .avatar-block {
    top: 20px;
    left: 15px;   
    position: absolute;
}

.message-input__content {
    position: relative;    
}

.message-input__content textarea {
    width: 100%;
    resize: none;
    outline: none;
    min-height: 60px;
    padding: 5px 10px;
    border-radius: 5px;
    padding-right: 30px;
    border-color: rgba(0, 0, 0, 0.1);
}

.message-input__smiles-toggle {
    top: 3px;
    right: 0;
    opacity: .5;
    border: none;
    outline: none;
    transition: .5s;
    background: none;
    position: absolute;
}

.message-input__smiles-toggle:hover {
    opacity: 1;
}

.message-input__smiles-toggle:focus {
    outline: none;
    opacity: 1;
}

.message-input__smiles-toggle svg {
    width: 25px;
}

.message-input__smiles {
    right: 0;
    bottom: 100%;
    position: absolute;
}

.emoji-mart-bar {
    display: none;
}

.emoji-mart-scroll {
    overflow-x: hidden;
}