.messages-wrapper {
    display: flex;
    margin: 0 auto;
    /* max-width: 768px; */
    position: relative;
    flex-direction: column;
    /* height: calc(100vh - 59px); */
    justify-content: space-between;
}

.messages {
    height: 100vh;
    overflow: auto;
    margin-bottom: 2px;
    background-color: #fff;
    padding: 10px 35px 10px 60px;
    max-height: calc(100vh - 195px);
}
.messages .message {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}
.messages .message .avatar-block{  
    top: 0;
    left: -40px;
    position: absolute;
}
.messages .message__author {
    position: relative;
}
.messages .message__author span {
    color: blue;
}

.messages .message_my .message__author span {
    color: black;
    background: bisque;
}

.messages-plug {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
}